/* General Styles */
body {
    font-family: 'Arial', sans-serif;
}

/* Sidebar Styles */
[data-testid="stSidebar"] {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
header {
    background-color: #0083B8;
    padding: 10px;
    color: white;
    font-size: 24px;
    text-align: center;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Card Styles */
div.css-1r6slb0.e1tzin5v2 {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

label.css-mkogse.e16fv1kl2 {
    color: #36b9cc !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

/* Footer Styles */
footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Streamlit Style Hiding */
#MainMenu,
footer,
header {
    visibility: hidden;
}

/* Tooltip Styles (Adjust as needed) */
div.vg-tooltip-element {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
